<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <h2>Protección efectiva contra amenazas cibernéticas</h2>
  <p>La seguridad informática requiere un enfoque en capas, combinando tecnología, procesos y formación para crear una
    defensa sólida.</p>
</section>
<section class="ae-container-fluid rk-main">
  <input type="radio" name="layout-ctrl" checked id="layout-base" class="layout-ctrl-input">
  <div class="ae-container-fluid rk-layout-ctrl-cont">
    <label for="layout-base" class="rk-layout-ctrl">
      <svg>
        <use xlink:href="assets/img/symbols.svg#icon-view-full"></use>
      </svg>
    </label>
  </div>
  <input type="radio" name="layout-ctrl" id="layout-grid" class="layout-ctrl-input">
  <div class="ae-container-fluid rk-layout-ctrl-cont">
    <label for="layout-grid" class="rk-layout-ctrl">
      <svg>
        <use xlink:href="assets/img/symbols.svg#icon-view-alt"></use>
      </svg>
    </label>
  </div>
  <div class="rk-layout-ctrl-mobile  layout-blog">
    <svg viewBox="0 0 9 9" class="layout-mob-1">
      <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-2">
      <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-3">
      <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-4">
      <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
  </div>
  <section class="ae-container-fluid ae-container-fluid--inner rk-blog">
    <div class="rk-blog__items">
      <div class="rk-blog__item">
        <div class="post-img post-1 rk-landscape-alt rk-tosquare">
          <div class="item-meta">
            <p><a href="blog-post.html" class="arrow-button">Read More<span class="arrow-cont">
                  <svg>
                    <use xlink:href="assets/img/symbols.svg#arrow"></use>
                  </svg></span></a></p>
          </div>
        </div>
        <div class="blog-info">
          <h2 class="blog-info__title"> <a>Soluciones de seguridad perimetral</a></h2>
          <h5 class="blog-info__author">La primera línea de defensa para tu <a href="" class="ae-u-bolder">infraestructura</a></h5>
          <p class="blog-info__excerpt">
            <li>Firewalls de nueva generación (NGFW)</li>
                    <li>Sistemas de prevención de intrusiones (IPS)</li>
                    <li>Pasarelas seguras de correo electrónico</li>
                    <li>Protección DNS</li>
          </p>
        </div>
        <div class="blog-meta"><a href="" class="ae-u-bolder blog-meta__comments">3 Comments</a><span
            class="ae-kappa ae-u-bold blog-meta__date">Marzo, 20 2025</span><a href="#0"
            class="arrow-button blog-meta__read-more">Read More<span class="arrow-cont">
              <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
              </svg></span></a></div>
      </div>
      <div class="rk-blog__item">
        <div class="post-img post-5 rk-landscape-alt rk-toportrait">
          <div class="item-meta">
            <p><a href="" class="arrow-button">Read More<span class="arrow-cont">
                  <svg>
                    <use xlink:href="assets/img/symbols.svg#arrow"></use>
                  </svg></span></a></p>
          </div>
        </div>
        <div class="blog-info">
          <h2 class="blog-info__title"> <a href=""> Seguridad de endpoints</a></h2>
          <h5 class="blog-info__author">Protección de dispositivos <a href="" class="ae-u-bolder">individuales</a></h5>
          <p class="blog-info__excerpt">
            <li>EDR (Endpoint Detection and Response)</li>
                    <li>Antivirus/Antimalware</li>
                    <li>Control de aplicaciones</li>
                    <li>Cifrado de disco completo</li>
          </p>
        </div>
        <div class="blog-meta"><a href="blog-post.html" class="ae-u-bolder blog-meta__comments">5 Comments</a><span
            class="ae-kappa ae-u-bold blog-meta__date">marzo, 08 2025</span><a href="#0"
            class="arrow-button blog-meta__read-more">Read More<span class="arrow-cont">
              <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
              </svg></span></a></div>
      </div>
      <div class="rk-blog__item">
        <div class="post-img post-7 rk-landscape-alt rk-tosquare">
          <div class="item-meta">
            <p><a href="" class="arrow-button">Read More<span class="arrow-cont">
                  <svg>
                    <use xlink:href="assets/img/symbols.svg#arrow"></use>
                  </svg></span></a></p>
          </div>
        </div>
        <div class="blog-info">
          <h2 class="blog-info__title"> <a href="blog-post.html">Autenticación y control de acceso</a></h2>
          <h5 class="blog-info__author">Verificación de identidades y <a href="blog-post.html" class="ae-u-bolder">gestión de accesos</a></h5>
          <p class="blog-info__excerpt">
            <li>Autenticación multifactor (MFA)</li>
            <li>Gestión de identidades y accesos (IAM)</li>
            <li>Single Sign-On (SSO)</li>
            <li>Acceso de privilegio mínimo y Zero Trust</li>

          </p>
        </div>
        <div class="blog-meta"><a href="blog-post.html" class="ae-u-bolder blog-meta__comments">3 Comments</a><span
            class="ae-kappa ae-u-bold blog-meta__date">Marzo, 04 2025</span><a href="#0"
            class="arrow-button blog-meta__read-more">Read More<span class="arrow-cont">
              <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
              </svg></span></a></div>
      </div>
      <div class="rk-blog__item">
        <div class="post-img post-6 rk-landscape-alt rk-toportrait">
          <div class="item-meta">
            <p><a href="" class="arrow-button">Read More<span class="arrow-cont">
                  <svg>
                    <use xlink:href="assets/img/symbols.svg#arrow"></use>
                  </svg></span></a></p>
          </div>
        </div>
        <div class="blog-info">
          <h2 class="blog-info__title"> <a href="blog-post.html">Estrategias organizativas</a></h2>
          <h5 class="blog-info__author">Políticas de <a href="blog-post.html" class="ae-u-bolder">seguridad</a></h5>
          <p class="blog-info__excerpt">Marco normativo interno que establece las reglas y procedimientos de seguridad:
            <li>Política de contraseñas</li>
              <li>Política de clasificación de datos</li>
              <li>Política de dispositivos móviles</li>
              <li>Política de respuesta a incidentes</li></p>
        </div>
        <div class="blog-meta"><a href="" class="ae-u-bolder blog-meta__comments">2 Comments</a><span
            class="ae-kappa ae-u-bold blog-meta__date">Marzo, 10 2025</span><a href="#0"
            class="arrow-button blog-meta__read-more">Read More<span class="arrow-cont">
              <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
              </svg></span></a></div>
      </div>
      <div class="rk-blog__item">
        <div class="post-img post-2 rk-landscape-alt rk-tosquare">
          <div class="item-meta">
            <p><a href="" class="arrow-button">Read More<span class="arrow-cont">
                  <svg>
                    <use xlink:href="assets/img/symbols.svg#arrow"></use>
                  </svg></span></a></p>
          </div>
        </div>
        <div class="blog-info">
          <h2 class="blog-info__title"> <a href="blog-post.html">Formación y concienciación</a></h2>
          <h5 class="blog-info__author">El eslabón humano es crucial en la <a href="blog-post.html" class="ae-u-bolder">cadena de seguridad:</a></h5>
          <p class="blog-info__excerpt">

              <li>Programas de concienciación regular</li>
              <li>Simulaciones de phishing</li>
              <li>Formación específica por departamentos</li>
              <li>Cultura de seguridad</li>

          </p>
        </div>
        <div class="blog-meta"><a href="" class="ae-u-bolder blog-meta__comments">2 Comments</a><span
            class="ae-kappa ae-u-bold blog-meta__date">Agosto, 09 2024</span><a href="#0"
            class="arrow-button blog-meta__read-more">Read More<span class="arrow-cont">
              <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
              </svg></span></a></div>
      </div>
      <div class="rk-blog__item">
        <div class="post-img post-8 rk-landscape-alt rk-tosquare">
          <div class="item-meta">
            <p><a href="" class="arrow-button">Read More<span class="arrow-cont">
                  <svg>
                    <use xlink:href="assets/img/symbols.svg#arrow"></use>
                  </svg></span></a></p>
          </div>
        </div>
        <div class="blog-info">
          <h2 class="blog-info__title"> <a href="blog-post.html">Respuesta a incidentes</a></h2>
          <h5 class="blog-info__author">Preparación para gestionar eficazmente las <a href="blog-post.html" class="ae-u-bolder">brechas de seguridad:</a></h5>
          <p class="blog-info__excerpt">
            <li>Plan de respuesta a incidentes documentado</li>
            <li>Equipo de respuesta designado</li>
            <li>Procesos de comunicación claros</li>
            <li>Copias de seguridad y planes de recuperación</li>
            <li>Análisis forense y lecciones aprendidas</li>
          </p>
        </div>
        <div class="blog-meta"><a href="" class="ae-u-bolder blog-meta__comments">No Comment</a><span
            class="ae-kappa ae-u-bold blog-meta__date">Agosto, 02 2024</span><a href="#0"
            class="arrow-button blog-meta__read-more">Read More<span class="arrow-cont">
              <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
              </svg></span></a></div>
      </div>

    </div>
  </section>
  <div class="ae-container-fluid au-pb-4 group-buttons"><a href="#0"
      class="arrow-button arrow-button--reverse arrow-button--center">Antiguos
      <div class="arrow-cont arrow-cont-rev">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg>
      </div>
    </a></div>
</section>


