<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <h2>Bienvenidos a nuestro Centro de Seguridad Informática</h2>
  <p>En un mundo cada vez más conectado, la seguridad de nuestra información se ha convertido en una prioridad absoluta. Nuestro objetivo es proporcionar información actualizada y recursos valiosos para proteger sus datos y sistemas contra las amenazas cibernéticas.</p>
</section>

<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <h2>¿Por qué es importante la seguridad informática?</h2>
  <p>La seguridad informática es fundamental por las siguientes razones:</p>
  <ul>
      <li>Protege la información sensible y confidencial</li>
      <li>Previene el acceso no autorizado a sistemas y redes</li>
      <li>Garantiza la continuidad de las operaciones</li>
      <li>Mantiene la confianza de clientes y usuarios</li>
      <li>Cumple con regulaciones y normativas legales</li>
  </ul>

</section>

<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <h1>Nuestras áreas de enfoque</h1>
  <div class="ae-grid au-xs-ta-center au-mb-4">

    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/Jseguridad.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Seguridad en redes</h5>

      <p>Abordamos las mejores prácticas para proteger las redes corporativas y domésticas contra intrusiones.</p><a href="#0" class="ae-u-bolder au-underline">Seguridad</a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/Jinformacion.avif" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Seguridad de la información</h5>

      <p>Estrategias para proteger los datos confidenciales mediante cifrado y políticas adecuadas.</p><a href="#0" class="ae-u-bolder au-underline">Información</a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/Japlicaciones.avif" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Seguridad en aplicaciones</h5>
      <p>Técnicas para desarrollar y mantener aplicaciones seguras frente a las vulnerabilidades más comunes.</p><a href="#0" class="ae-u-bolder au-underline">Aplicaciones</a>
    </div>
  </div>
</section>




